@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary: #00c2de;
}

header{
    position:absolute;
    top:0px;
    left:0px;
    padding: 30px 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header::after{
    position: absolute;
    content:'';
    top:50%;
    transform: translateY(-50%);
    left: 100px;
    height: 5px;
    width: 37%;
    background: linear-gradient(90deg , var(--primary), transparent);

}

body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

/* header */
.logo{
    font-size: 30px;
    color: #ffffff;
}
.logo img{
    max-width: 200px;
    filter:invert(1);
}
.menu{
    height: 20px;
    width: 20px;
}
header .year{
    font-family: 'Racing Sans One', cursive;
    top:45%;
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 40px;
    font-weight: 800;
}
header .menu{
    position: relative;
    height: 35px;
    width: 35px;
    background: url('./image/menu-3-fill.png') no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}
header .menu.active{
    position: relative;
    height: 35px;
    width: 35px;
    background: url('./image/close-line.png') no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}
header::after{
    position: absolute;
    content:'';
    top:50%;
    transform: translateY(-50%);
    left: 100px;
    height: 5px;
    width: 37%;
    background: linear-gradient(90deg , var(--primary), transparent);
}

/* navigation */
.nav{
    z-index: 200;
    position: absolute;
    right:100px;
    top:15px;
    width: 30%;
    height: 5px;
    border-top: 5px solid;
    border-image: linear-gradient(
        90deg,
        transparent,
        var(--primary)
    )30;
    background: transparent;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    transition-duration: 1s;
    transform-origin: right;
}

.nav.active{
    top:100px;
    width: 40%;
    height: 62px;
    border-top: 5px solid;
    border-image: linear-gradient(
        90deg,
        transparent,
        var(--primary),
        var(--primary),
        transparent
    )10;
    border-bottom: none;


}

.nav li{
    opacity: 0;
    visibility: hidden;
    position: relative;
    list-style: none;
    transform: translateY(-100px);
    transition: 0.5s;
}

.nav.active li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding:5px 10px;
    transition: 0.2s;
    cursor:pointer;
}
.nav li a:hover{
    box-shadow: inset 0 0 20px rgba(0 , 194 , 222 , 0.5);
}

.nav li a:active{
    color: #00c2de; 
}
.banner{
    position:relative;
    width:100%;
    min-height: 100vh;
    padding:0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}
.banner::after{
    position: absolute;
    content: '';
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: 100%;
    background: radial-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.9)
    );
}
.banner::before{
    position: absolute;
    content: '';
    top:25%;
    left:0px;
    width: 5px;
    height:40%;
    background: linear-gradient(var(--primary), var(--primary) , transparent);
    z-index: 100;
}
 /* video  */
.banner .bg-video{
    display: none;
    position: absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner .bg-video.active{
    display: block;
}

.banner .content{
    position: relative;
    max-width: 700px;
    padding-bottom: 200px;
    z-index: 100;
}
.banner .content h1{
    font-family: 'Racing Sans One', cursive;
    font-size: 8em;
    color: #ffffff;
    letter-spacing: 5px;
    font-weight: 500;
    line-height: 0.8em;
}

.banner .content .model{
    color: #ffffff;
    font-size: 4em;
    text-transform: uppercase;
    color: var(--primary);
    display: none;
}
.banner .content .model.active{
    display: block;  

}
.banner .content .article{
    display: none;
}
.banner .content .article.active{
    display: block;
}

.banner .content p{
    color:#ffffff;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-weight: lighter;
}
 .banner .content .enq{
    font-size: 1em;
    position: relative;
    color: #ffffff;
    width:166px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px 50px;
    background: transparent;
    border-bottom: 3px solid;
    border-image:linear-gradient(
        90deg,
        transparent,
        var(--primary),
        var(--primary),
        transparent
    )5;
    box-shadow: inset 0 0 10px rgba(0 , 194 , 222 , 0.5);
    backdrop-filter: blur(20px);
    letter-spacing: 1px;

    transition: all;
    transition-duration: 0.5s;
    display: none;
 }
 .banner .content .enq.active{
    display: block;
 }

 
 .banner .content a:hover{
    box-shadow: inset 0 0 50px rgba(0 , 194 , 222 , 0.5);
    color:gray;
 }

 .banner .content a:active{
    color: var(--primary);
 }

 /* screen */

 .banner .screen{
    position: absolute;
    right:5%;
    bottom:66px;
    height: 140px;
    width: 200px;
    transform-style: preserve-3d;
    animation: cube 30s linear infinite;
    z-index:100;
 }

 @keyframes cube{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
 }

 .screen div{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
 }

 .screen div span{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    background: linear-gradient(
        transparent,
        var(--primary)
    );
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px); /* height/2 */
 }

 .shadow{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 200px;
    height: 150ps;
    background: var(--primary);
    transform: rotateX(-90deg) translateZ(100px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0 , 194 , 222 , 0.2),0 0 120px rgba(0 , 194 , 222 , 0.4),0 0 120px rgba(0 , 194 , 222 , 0.6),0 0 120px rgba(0 , 194 , 222 , 0.8),0 0 120px rgba(0 , 194 , 222 , 1);
 }
 
 /* screen video  */

 .banner .screen div span video{
     position: absolute;
     bottom: 0;
     height: 80%;
     width: 100%;
     object-fit: cover;
     object-position: center;
 }

 .trailer{
    display: none;
 }
 .trailer.active{
    display: block;
 }

 /* banner gallary */

 .banner .gallary{
    position: absolute;
    content: '';
    left: 50px;
    bottom:0;
    width:55%;
    height: 33%;
    z-index:100;
    background: transparent;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.5),
    0px -10px 40px rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .banner .gallary::before{
    /* position: absolute;
    content: '';
    left:0;
    bottom:10px;
    height: 10px;
    width: 100%; */
    /* background: var(--primary);
    filter: blur(10px); */
    position: absolute;
    content: '';
    z-index: 400;
    left:0;
    bottom: 10px;
    width: 100%;
    border-bottom:3px solid ;
    border-image:linear-gradient(
        90deg,
        transparent,
        var(--primary),
        var(--primary),
        transparent
    )5;
    filter: blur(5px);
 }

 .banner .gallary .carousel{
    width:100%;
    height: 100%;
 }
 .carousel .carousel-item{
    width: 250px;
    cursor: pointer;
    display: block;
    text-align: center;
 }
 .carousel .carousel-item img{
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
 }
 .carousel .carousel-item h4{
    margin-top: 5px ;
    font-size: 1em;
    font-family: 'Racing Sans One', cursive;
    font-weight: 300;
    letter-spacing: 1px;
 }

 /* social icon */
 .social{
    position: absolute;
    top:30%;
    right:100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 200;
}

.social li{
    list-style: none;
}

.social li a{
    text-decoration: none;
    color:#ffffff;
    font-size: 1.2em;
    transition: 0.3s;
}
.social li a:hover{
    color: var(--primary);
}
